@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@import "tw-animate-css";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #111111;
  color: #ffffff;
}

:root {
  --background: 0, 0%, 0%;
  --foreground: 0, 100%, 100%;
  --sky-300: 203, 92%, 53%;
  --gray-300: 0, 0%, 70%;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
